@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.carousel-caption {
  font-family: 'Roboto Slab', sans-serif;
}

.carousel-caption h5 {
  font-size: 38px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.carousel-caption p {
  font-size: 22px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.apa-itu-bg h2 {
  font-size: 30px;
  font-weight: bold;
}

.apa-itu-bg img {
  height: 150px;
}

.sewa-mobil-bg h4 {
  font-weight: bold;
}

.mengapa-bg h3 {
  font-size: 30px;
  font-weight: bold;
}

.mengapa-bg img {
  margin-bottom: 25px;
}

.mengapa-bg .row .col {
  margin: 0 15px;
}

footer .text-warning {
  font-size: 16px;
  font-weight: bold;
}

footer p {
  font-size: 14px;
}

footer .end-section p {
  font-size: 16px;
}

footer .end-section a {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  margin-left: 10px;
}

footer .bantuan a {
  font-size: 14px;
  display: block;
  text-decoration: none;
  color: inherit;
  margin: 10px 0;
}

.carousel-inner img {
  margin: 0 auto;
}

.img-car {
  width: 50px;
}

.one-mobil, .two-mobil, .three-mobil {
  position: relative;
}

.text-block {
  position: absolute;
  bottom: 25px;
  right: 20px;
  color: white;
  padding-left: 20px;
  padding-right: 10px;
}

.testimoni-bg {
  background-color: #f1f3f5;
  width: 100%;
  height: 500px;
}

.testimoni-bg .container,
.testimoni-bg .container .d-flex{
  height: 100%;
}

.testimoni-bg img {
  width: 90px;
  height: 90px;
}

.line-white {
  border: 2px white solid;
  margin-bottom: 10px;
}